body {padding: 0; margin: 0;}
//body,html{height: 100%;}
div.greenBorder {text-align:center;}
.log_box{margin:100px auto;padding-top:210px;font:"黑体";font-size:xx-large;font-weight:bold;color:#666666}
//.log_box table td{height:43px;font:"黑体";font-size:medium;font-weight:bold;color:#666666}
